

$paper-light: hsla(40, 9%, 99%, 1.00);



:root {
	//colors
	--paper: hsla(40, 10%, 94%, 1.00);
	--paper-light: hsla(40, 9%, 99%, 1.00);
	--paper-dark: hsla(220, 4%, 18%, 1.00);
	--paper-accent: hsla(45, 18%, 89%, 1.00);
	--ink: hsla(220, 4%, 18%, 1.00);
	--highlight: hsla(10, 87%, 66%, 1.00); //orange
	--highlight2: hsla(228, 52%, 51%, 1.00); //blue
	--highlight3: hsla(40, 88%, 69%, 1.00); //yellow

	//effects
	// --full-shadow: 6px 6px 0 hsla(30, 3%, 77%, 0.5);
	--full-shadow: 6px 6px 0 rgba(0,0,0,.2);
}