@use 'variables';
@use 'reset';
@use 'typography';
@use 'structure';

//modules
@use 'modules/header';
@use 'modules/footer';
@use 'modules/home';
@use 'modules/meet';
@use 'modules/monster-card';

//components
@use 'components/buttons';
@use 'components/logo';



:root {
	box-sizing: border-box;
}

body{
	background-color: var(--paper);
	list-style-type: none;
}



li:is(.available, .adopted) {
	// border: 3px solid blue;
}

