
<%- include('header.ejs') %>

<section>
	<inner-column>

		<module-name>
			<h1>404 Error</h1>
			<p>There is no page at <%=query%>. Please try again.<p>
		</module-name>

	</inner-column>
</section>

<%- include('footer.ejs') %>

