	
	</main>

	<footer>
		<inner-column>
			<div class="text">
				<div class="logo">
					<a href="/">Monster<span>Match</span></a>
				</div>
				<p>© 2022 Designed and built by Andy.</p>
			</div>
		</inner-column>
	</footer>

	</body>
</html>