
<%- include('header.ejs') %>

<section class="home">
	<inner-column>

		<picture>
			<img src="../images/monster-group-photo.jpg" alt="monsters of all shapes and sizes">
		</picture>

		<div class="text">
			<h3>Find <span>your</span> new best friend&nbsp;today!</h3>

			<h1><%- ctx.prismicH.asText(document.data.page_title) %></h1>

			<%- ctx.prismicH.asHTML(document.data.teaser_message) %>


			<p>Browse our network of scary monsters in need of loving&nbsp;homes</p>
		</div>

		<div>
			<a class="button1" href="/monsters">Meet the Monsters</a>
		</div>


	</inner-column>
</section>

<%- include('footer.ejs') %>

