
<%- include('header.ejs') %>

<section class="home">
	<inner-column>

		<picture>
			<img src="../images/monster-group-photo.jpg" alt="monsters of all shapes and sizes">
		</picture>

		<div class="text">
			<h1>Find your new best friend&nbsp;today!</h1>

			<p>Browse our network of scary monsters in need of loving&nbsp;homes</p>
		</div>

		<div>
			<a class="button1" href="/monsters">Meet the Monsters</a>
		</div>


	</inner-column>
</section>

<%- include('footer.ejs') %>

