
<%- include('header.ejs') %>

<section class="meet">
	<inner-column>

		<h1>Meet <span>Your</span> Monster</h1>

	<!-- collapse -->
		<%# ctx.prismicH.asText(document[0].data.name) %>
		<%# //console.log("DOCUMENT", document) %>

		<!-- <p>-----------delete temporary stuff above this line --------</p> -->

		<ul class="monsters">
			<% monsters.forEach(function(monster) { %>
				<%- include('monster-card.ejs', {monster})%>
			<% }) %>


		</ul>



	</inner-column>
</section>





	</inner-column>
</section>

<%- include('footer.ejs') %>

