@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Permanent+Marker&display=swap");
:root {
  --paper: hsla(40, 10%, 94%, 1.00);
  --paper-light: hsla(40, 9%, 99%, 1.00);
  --paper-dark: hsla(220, 4%, 18%, 1.00);
  --paper-accent: hsla(45, 18%, 89%, 1.00);
  --ink: hsla(220, 4%, 18%, 1.00);
  --highlight: hsla(10, 87%, 66%, 1.00);
  --highlight2: hsla(228, 52%, 51%, 1.00);
  --highlight3: hsla(40, 88%, 69%, 1.00);
  --full-shadow: 6px 6px 0 rgba(0,0,0,.2);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

span {
  font-family: "Permanent Marker", cursive;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--ink);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* be at least a full viewport height */
}
body main {
  margin: 50px 0px;
  flex-grow: 1;
}

inner-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  max-width: 1200px; /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
}

picture {
  display: block;
  box-shadow: 6px 6px 0 #c6c4c2;
}

img {
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  inner-column {
    width: 98%;
  }
}
header {
  border-bottom: 3px solid hsl(220deg, 4%, 18%);
  box-shadow: var(--full-shadow);
  font-weight: bold;
  background-color: hsl(40deg, 9%, 99%);
  position: sticky;
  top: 0;
  z-index: 10;
}
header inner-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
header nav {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}
header nav a {
  text-decoration: none;
  color: hsl(220deg, 4%, 18%);
  box-shadow: inset 0 0 0 0 hsl(10deg, 87%, 66%);
  margin: 0 -0.5rem;
  padding: 0 0.5rem;
  transition: color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
header nav a:hover {
  box-shadow: inset 100px 0 0 0 hsl(10deg, 87%, 66%);
  color: white;
}

footer {
  background-color: hsl(220deg, 4%, 18%);
  color: var(--paper);
  padding: 30px 0px;
  box-shadow: 6px -3px 0 rgba(0, 0, 0, 0.2);
}
footer .logo a {
  margin-bottom: 0;
  color: hsl(40deg, 9%, 94%);
}
footer p {
  color: var(--paper);
}

section.home picture {
  display: block;
  max-width: 600px;
  border: 3px solid var(--highlight);
  box-shadow: var(--full-shadow);
}
section.home h1 {
  margin-bottom: 0.5rem;
}
section.home p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
section.home span {
  font-size: 2.5rem;
  color: var(--highlight2);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

section.meet h1 {
  margin-top: 0px;
}
section.meet h2 {
  margin-top: 0;
}
section.meet p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
section.meet .blurb {
  font-style: italic;
}
section.meet span {
  font-size: 2.25rem;
  color: var(--highlight2);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
section.meet ul.monsters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
@media (max-width: 950px) {
  section.meet ul.monsters {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  section.meet ul.monsters {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--paper-accent);
  border: 2px solid var(--ink);
  box-shadow: var(--full-shadow);
  padding: 25px;
  position: relative;
}
.card card-overlay {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
  margin-bottom: 25px;
}
.card status-label {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-30deg);
  top: 50%;
  left: 50%;
  background-color: hsla(45deg, 18%, 89%, 0.75);
  border: 8px solid var(--highlight2);
  box-shadow: var(--full-shadow);
  border-radius: 5px;
  padding: 6px;
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  color: var(--highlight2);
  opacity: 1;
  z-index: 5;
}
.card h2 {
  margin: 0px;
}
.card picture {
  aspect-ratio: 6/5;
  border: 2px solid var(--ink);
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card div.stat {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: var(--highlight3);
  font-weight: 600;
}
.card div.stat.Female {
  background-color: pink;
}
.card div.stat.Male {
  background-color: lightblue;
}
.card a.button2 {
  display: flex;
  margin-top: auto;
}

.card:hover {
  box-shadow: 6px 6px 0 var(--highlight);
  transition: box-shadow 0.25s ease-in-out;
}

.adopted card-overlay {
  opacity: 0.35;
}

.button1 {
  padding: 15px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  font-weight: 700;
  color: var(--ink);
  background-color: var(--highlight);
  border: 4px solid var(--ink);
  box-shadow: var(--full-shadow);
}

.button1:hover {
  color: var(--highlight);
  background-color: var(--ink);
}

.button2 {
  padding: 15px 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
  font-weight: 700;
  color: var(--ink);
  background-color: var(--highlight);
  border: 2px solid var(--ink);
  box-shadow: var(--full-shadow);
}

.button2:hover {
  color: var(--highlight);
  background-color: var(--ink);
}

.logo {
  font-size: 1.75rem;
  font-weight: bold;
}
.logo span {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: hsl(10deg, 87%, 66%);
}
.logo a {
  text-decoration: none;
  color: hsl(220deg, 4%, 18%);
  transition: color 0.25s ease-in-out;
}
.logo a:hover {
  color: hsl(10deg, 87%, 66%);
  transition: color 0.25s ease-in-out;
}

:root {
  box-sizing: border-box;
}

body {
  background-color: var(--paper);
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
