.logo {
	font-size: 1.75rem;
	font-weight: bold;

	span{
		font-family: 'Permanent Marker', cursive;
		font-size: 2rem;
		color: hsla(10, 87%, 66%, 1.00);
		// font-weight: bold;
	}

	a{
		text-decoration: none;
		color: hsla(220, 4%, 18%, 1.00);
		transition: color .25s ease-in-out;
	}

	a:hover{
		color: hsla(10, 87%, 66%, 1.00);
		transition: color .25s ease-in-out;
	}

	}